pathy==0.10.1
typer==0.7.0
typing_extensions==4.4.0
matplotlib==3.5.1
matplotlib-inline==0.1.6
pandas==1.5.2
numpy==1.23.5
seaborn==0.12.1
tqdm==4.64.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.0
gymnasium-notices==0.0.1